﻿@model ADMassignment.Models.Produkt

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Produkt</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BestBeforeDate" class="control-label"></label>
                <input asp-for="BestBeforeDate" class="form-control" />
                <span asp-validation-for="BestBeforeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flavor" class="control-label"></label>
                <input asp-for="Flavor" class="form-control" />
                <span asp-validation-for="Flavor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

