﻿@model ADMassignment.Models.ProduktFlavorViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Produkts" asp-action="Index" method="get">
    <p>
        <select asp-for="ProduktFlavor" asp-items="Model.Flavors">
            <option value="">All</option>
        </select>

        Title: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produkts[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produkts[0].BestBeforeDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produkts[0].Flavor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produkts[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produkts[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Produkts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BestBeforeDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flavor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
